@import '../../scss/variables';

.clipboard-item {
  cursor: pointer;

  &:hover {
    border-color: $primary;

    .clipboard-item-copy-text {
      color: $primary;
    }
  }

  .clipboard-item-copy-text {
    color: #6c757d;
  }

  .clipboard-item-action-text {
    color: #6c757d;

    &:hover {
      color: $primary;
    }
  }
}