@import 'variables';
@import 'bootstrap';
@import 'react-toastify/dist/ReactToastify.css';

.main-container {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.pointer {
  cursor: pointer;
}

.btn-icon {
  align-items: center !important;
  justify-content: center !important;
  display: inline-flex !important;
}